use flake
export LOCAL_NIMBLE_DIR=$(pwd)/nimbledeps
PATH_add nimbledeps/bin
mkdir -p $LOCAL_NIMBLE_DIR
if ! command -v nph &> /dev/null; then nimble install nph; fi
[ -z nimble.paths ] || nimble setup --silent
nimble sync --silent
