use flake
LOCAL_NIMBLE_DIR=$(pwd)/nimbledeps
export LOCAL_NIMBLE_DIR
PATH_add nimbledeps/bin
mkdir -p "$LOCAL_NIMBLE_DIR"
[ -f nimble.paths ] || nimble setup --silent
nimble sync --silent
if ! command -v nph &> /dev/null; then nimble install nph --silent -y; fi
